.home-page-content{
    display:flex;
    min-height: 80vh;
}

.filters{
    width: 500px;
    cursor: context-menu;
    width:max-content;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding:1rem;
    border-right: 1px solid var(--primary-color);
}


.clear{
    text-decoration: none;
    color: var(--secondary-color);
    margin-left: 6rem;
    font-weight: 600;
    cursor: pointer;
}
.clear:hover{
    color:var(--primary-color);
}

ul>span{
    margin-left: 10px;
}

ul{
    margin: 10px;
}

.product-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:4rem 0 2rem 0;
    width: 100%;
}

strong{
    color:var(--primary-color);
}

.check-box{
    cursor: pointer;
}

.FAB{
    display: flex !important;
    background-color: var(--primary-color)!important;
    position:fixed !important;
    top:12.5vh !important;
    right: 2% !important;
    margin:0 10%;
    z-index: 999!important;
}

.paginate>a:hover,.FAB:hover{
    border: 1px solid var(--primary-color)!important;
    background-color: var(--bg-color) !important;
}

.paginate{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 12px 0;
}
.paginate>a{
    display: flex;
    align-items: center;
    justify-content: center;
    height:2rem;
    width:2rem;
    background-color: var(--primary-color);
    text-decoration: inherit;
    color: var(--secondary-color);
}
.paginate>a:focus{
    background-color: var(--bg-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}