
.form-container{
    cursor: context-menu;
    display: flex;
    height:100vh;
    align-items: center;
    justify-content: center;
}

.form{
    background-color: var(--bg-color);
    max-width:max-content;
    height:60vh;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.form-heading{
    color: var(--primary-color);
    font-family: 'Times New Roman', Times, serif;
    font-size:3rem;
}


.form>input{
    margin: 10px;
    width: 20rem;
    border: 2px solid var(--primary-color);
}

.btn{
    background-color: var(--primary-color);
    width:8rem !important;
    height:2.5rem;
    color: black;
    cursor: pointer;
}
.btn:hover{
    border:2px solid var(--primary-color);
    background-color: var(--bg-color);
    color: var(--primary-color);
}

.log-btn{
    display:flex;
}
.log-cred{
    width: 20rem;
    display: flex;
    justify-content: space-between;
    margin :10px 0;
}
